* {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #575a5e;
}
.flex {
  display: flex;
  height: 100%;
}
.boite {
  display: flex;
}
.boite {
  margin: auto;
  width: 650px;
  min-height: 100px;
  background-color: #3a3e3b;
  justify-content: center;
  align-items: center;
}
img {
  display: flex;
}
img {
  position: relative;
  bottom: 10px;
  margin: auto;
  min-width: 400px;
  height: 300px;
}
.titre {
  display: flex;
}
.titre {
  margin: auto;
  padding-top: 5px;
  font-size: 47px;
  font-family: Audiowide, sans-serif;
  color: #c5d5e4;
  justify-content: center;
  align-self: center;
}
.texte {
  display: flex;
}
.texte {
  font-size: 13px;
  margin: auto;
  padding-bottom: 14px;
  width: 91%;
  align-self: center;
  font-family: lato, sans-serif;
  color: #c5d5e4;
}
h2 {
  display: flex;
}
h2 {
  align-self: center;
  font-family: lato, sans-serif;
  color: #c5d5e4;
}
.flex,
h1,
.texte,
h2,
img,
.boite {
  display: flex;
  flex-direction: column-reverse;
}
.flex,
h1,
.boite {
  order: 2;
}
.boite,
h2,
.flex {
  order: 1;
}
.boite,
.bouton {
  order: -2;
}
.bouton {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 91%;
  margin: auto;
}
button {
  position: relative;
  bottom: 8px;
  font-family: lato, sans-serif;
  font-weight: bold;
  background-color: #39a0ed;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  border-style: none;
}
button:hover {
  background: #c5d5e4;
}
